<div class="panel panel-default" title="{{Component}}">
    <div class="panel-body">
        {{#if HeadingTwo}}
			<h2>{{HeadingTwo}}</h2>
		{{/if}}
		{{#if RichContent}}
			<div>{{{RichContent}}}</div>
		{{/if}}
		{{#if Image}}
			<iframe width="100%" height="200" frameborder="0" src="{{Image}}" allowfullscreen></iframe><br>
		{{/if}}
		{{#if CTAText}}
			<a class="btn btn-default" {{link CTAUrl}} role="button">{{CTAText}}</a><br>
		{{/if}}
		{{#if LinkText}}
			<a {{link LinkUrl}}>{{LinkText}}</a><br>
		{{/if}}
    </div>
</div>