<div class="panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">
    <div class="panel-heading">
        <h3 class="panel-title">{{{HeadingThree}}}</h3>
    </div>
    <div class="panel-body">
        {{#if RichContent}}
			<div>{{{RichContent}}}</div>
		{{/if}}
		{{#if CTAText}}
			<a class="btn btn-default" {{link CTAUrl}} role="button">{{CTAText}}</a><br>
		{{/if}}
		{{#if LinkText}}
			<a {{link LinkUrl}}>{{LinkText}}</a><br>
		{{/if}}
    </div>
</div>