<div class="thumbnail" >
    <br>
    <img src="{{#if Image}} {{Image}} {{else}} http://placehold.it/400x500 {{/if}}" alt="">
    <div class="caption">
        <h3 class="text-center">{{{HeadingThree}}}</h3>
        <p class="text-center"><small>{{{Teaser}}}</small>
        </p>
        <p class="text-center">
            <a {{link LinkUrl}} class="btn btn-primary">Buy Now!</a>
            <a {{link LinkUrl}} class="btn btn-default">More Info</a>
        </p>
    </div>
</div>  