<div class="panel panel-default" title="{{Component}}

{{UserStoryForPresentation}}">
    <div class="panel-body" style="background-size: cover; background-position:50% 50%; background-repeat:no-repeat; background-image: url('{{Image}}');">
        {{#if HeadingTwo}}
			<h2><a style="color: #333; text-decoration: none" {{link LinkUrl}}>{{HeadingTwo}}</a></h2>
		{{/if}}
		{{#if RichContent}}
			<div>{{{RichContent}}}</div>
		{{/if}}

        {{#if Price}}
        <p>
            {{{Price}}}
        </p>
        {{/if}}

		{{#if CTAText}}
			<a class="btn btn-primary" {{link CTAUrl}} role="button" style="border-radius: 0">{{CTAText}}</a>
		{{/if}}
		{{#if CTATwoText}}
			<a class="btn btn-default" style="border-radius: 0" {{link CTATwoUrl}}>{{CTATwoText}}</a><br>
		{{/if}}
    </div>
</div>
