<div class="panel product-info" title="{{Component}}

{{UserStoryForPresentation}}">

    <article class="product-list-item">

        <img src="{{#if Image}} {{Image}} {{else}} http://placehold.it/400x500 {{/if}}" alt="" />

        <h1>{{#if HeadingOne}} {{{HeadingOne}}} {{else}} White Kittel {{/if}}</h1>

        <!-- <small>{{#if HeadingTwo}} HeadingTwo {{else}} 35 {{/if}} se</small> -->

        <div class="button-group">
            <a type="button" class="btn btn-info" href="{{{LinkUrl}}}">Tilføj til indkøbslise</a>
            <a type="button" class="btn btn-success" href="{{{LinkUrl}}}">Tilføj til inkøbskurv</a>
        </div>

    </div>

</div>
