<div class="panel product-info" title="{{Component}}



{{UserStoryForPresentation}}">
    <br>
    <div class="col-md-4">
        <!-- Image -->
        <img src="{{#if Image}} {{Image}} {{else}} http://placehold.it/400x500 {{/if}}" class="img-responsive">

    </div>
    <div class="col-md-8">
        <!-- Title -->
        <h1>{{{HeadingOne}}}</h1>

        <hr>

        <!-- Small description -->
        {{#if Teaser}}
            <p>{{{Teaser}}}</p>
        {{/if}}
        <!-- Informations -->

        {{#if RichContent}}
            {{{RichContent}}}
        {{/if}}

        <!-- Full Description -->
        <big>
            {{Price}}
        </big>
        <div>
        {{#if CTAText}}
        <a data-dynamic {{link CTAUrl}} class="btn btn-primary">{{CTAText}}</a>
        {{/if}}
        {{#if CTATwoText}}
        <a data-dynamic {{link CTATwoUrl}} class="btn btn-default">{{CTATwoText}}</a>
        {{/if}}
    </div>

        <hr>
        <!-- Breadcrumbs -->
        <!-- <ol class="breadcrumb">
            <li>Kontorsmaterial</li>
            <li>Engångs-</li>
            <li class="active">hygien- &#38; säkerhetsprodukter</li>
        </ol> -->
    </div>
    <div class="clearfix"></div>
</div>
