<div class="panel panel-default" data-dynamic="component">
    <div class="panel-body">
        <h2 class="hideIfEmpty">{{{HeadingTwo}}}</h2>
        <div class="hideIfEmpty">{{{RichContent}}}</div>
        <iframe width="100%" height="200" frameborder="0" allowfullscreen></iframe><br>
        <a class="btn btn-default hideIfEmpty" data-dynamic="button" href="{{LinkUrl}}" role="button">{{{LinkText}}}</a><br>
        <a class="hideIfEmpty"  role="button">{{{LinkText}}}</a>
    </div>
</div>