<div class="panel panel-default" title="{{Component}}">
    <div class="panel-body" style="background-size: cover; background-position:50% 50%; background-repeat:no-repeat; background-image: url('{{Image}}');">
        {{#if HeadingTwo}}
			<h2>{{HeadingTwo}}</h2>
		{{/if}}
		{{#if RichContent}}
			<div>{{{RichContent}}}</div>
		{{/if}}
		{{#if CTAText}}
			<a class="btn btn-default" {{link CTAUrl}} role="button">{{CTAText}}</a><br>
		{{/if}}
		{{#if LinkText}}
			<a {{link LinkUrl}}>{{LinkText}}</a><br>
		{{/if}}
    </div>
</div>